@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
body {
  font-family: Comfortaa, sans-serif;
  font-stretch: 400;
  font-weight: 400;
  font-size: 27px;
  background-color: #657D8F;
  margin: 0;
  color: #D3D3D3;
}

h1 {
  font-weight: 400;
  font-size: 67.3px;
}

header {
  border: 0px solid red;
  font-size: 21px;
  font-stretch: 400;
  width: 100%;
  height: 91.2px;
  background-color: #657D8F;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

a {
  color: #D3D3D3;
  text-decoration-line: none;
}

nav {
  display: inline-flex;
}

nav a {
  padding: 0 24px;
}

.representing_block {
  display: flex;
}

.StylCharInv {
  width: 40%;
}

.logo_container {
  width: 55%;
  position: relative;
  left: 40px;
  top: 63px;
}

.Logo {
  width: 80%;
  margin-top: 10%;
  margin-left: 12%;
}

.LinePattern {
  width: 100%;
  position: absolute;
  z-index: -1;
}

.about_me_block {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
}

.about_me__text {
  border: 0px solid red;
  max-width: 700px;
  min-width: 520px;
  padding: 10px 5% 5% 0;
  margin-left: 5%;
  flex: 1;
  font-size: 27px;
  line-height: 36px;
}

.about_me__text h1 {
  font-size: 67.34px;
  font: 400;
}

.orange {
  color: #F78300;
}

.about_me__pic img {
  width: 300px;
}

.skills_block {
  background: no-repeat left/cover URL("../ImgPhoto/HEAD2.png"), #514E5B;
}

.skills_block__title {
  font-size: 67.3px;
  padding: 60px 40px;
}

.skills_block__flex {
  border: 0px solid red;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: right;
  padding-bottom: 60px;
}

.skills_block__flex img {
  border: 0px solid red;
  display: none;
}

.skills_block__list {
  padding: 0 50px;
  text-align: justify;
  text-justify: inter-word;
  text-align-last: justify;
  width: 670px;
  border: 0px solid red;
  font-size: 40px;
  line-height: 49px;
  color: white;
}

.skills_block__title {
  text-align: center;
  text-justify: none;
  text-align-last: center;
  color: #D3D3D3;
}

.SkillsHead {
  width: 400px;
}

.pixelated {
  width: 100%;
  background-color: #F78300;
  font-size: 22px;
  background-color: #878787;
  color: transparent;
}

.non-pixelated {
  font-size: 40px;
  line-height: 49px;
}

.skills_block__inlineblock {
  border: 0px solid red;
  display: inline-block;
}

.skills_block__inlineblock_text {
  border: 0px solid red;
}

.Sculpt {
  width: 50%;
}

.skills__list {
  width: 20%;
}

.portfolio_lending {
  margin: 100px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  flex: 0 1 200px;
}

.portfolio__image {
  width: 50%;
}

.portfolio__image img {
  width: 100%;
}

.portfolio_but {
  margin-top: 40px;
  color: #514E5B;
  padding: 10px 20px;
  background-color: white;
  width: fit-content;
  border-radius: 4px;
}

footer {
  border: 0px solid red;
  background-color: #514E5B;
  height: 178px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.footer__nav {
  display: flex;
  flex-wrap: wrap;
  padding: 25px 0;
}

.footer__nav a, div {
  font-size: 21px;
  padding: 5px 12px;
  border: 0px solid red;
}

#licence {
  height: 21px;
  margin: 0px 0 0px 0px;
}

@media (max-width: 1440px) {
  .skills_block__flex {
    justify-content: center;
    align-items: center;
  }

  .skills_block__flex img {
    display: block;
  }

  .skills_block {
    background: #514E5B;
  }
}
@media (max-width: 920px) {
  .non-pixelated {
    font-size: 27px;
    line-height: 35px;
  }

  .pixelated {
    font-size: 20px;
  }

  .skills_block__list {
    width: 540px;
    min-width: 540px;
  }

  .portfolio__image {
    width: 500px;
  }
}
@media (max-width: 520px) {
  h1 {
    font-size: 27px;
    line-height: 35px;
  }

  nav a {
    padding: 0 12px;
  }

  .skills_block {
    background: #514E5B;
  }

  .skills_block__title {
    text-align: left;
    text-align-last: right;
    line-height: 60px;
    padding-right: 0;
  }

  .skills_block__list {
    text-align: right;
    text-align-last: right;
    min-width: auto;
  }

  .SkillsHead {
    width: 300px;
  }

  .pixelated {
    display: none;
  }

  .about_me__text {
    font-size: 21px;
    min-width: 250px;
  }

  .about_me__text h1 {
    font-size: 27px;
    line-height: 35px;
  }

  .footer__nav div {
    opacity: 0;
  }
}
@media (max-width: 400px) {
  .about_me__pic img {
    width: 170px;
  }

  header {
    font-size: 16px;
  }

  .skills_block__title {
    font-size: 27px;
  }

  .non-pixelated {
    font-size: 27px;
  }

  .footer__nav a {
    font-size: 18px;
  }

  .footer__nav div {
    display: none;
  }

  .SkillsHead {
    width: 200px;
  }
}

/*# sourceMappingURL=mainpage.css.map */
